.fp-container{
    width: 100%;
    max-width: 1100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fp-item{
    flex: 1;
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.fp-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
border-radius: 10px;
    
}
.fp-name{
    font-weight: bold;
}
.fp-city{
    font-weight: 300;
}
.fp-price{
    font-weight: 600;
}
.fp-rating>button{
    background-color: #2B7A78;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: bold;
}
.fp-rating>span{
    font-size: 14px;
}
